body {
  text-align: center;
  width: 100%;
  background-image: url("../images/ceremony_background.jpg");
}

#heads {
  color: white;
  padding: 1% 0% 1% 0%;
  font-family: system-ui;
  color: rgb(90, 8, 8);
}

h1 {
  font-size: 400%;
}

/* Add a black background color to the bottom navigation */
.botomnav {
  background-color: rgb(98, 37, 37);
  opacity: 0.5;
  overflow: hidden;
  width: 99%;
  position: fixed;
  bottom: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(98, 37, 37);
  opacity: 0.5;
  overflow: hidden;
  width: 99%;
  position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a,
.botomnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: system-ui;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #562ddb;
  color: white;
}
